* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.nav-bar{
    display: flex;
    background-color: #007bff;
    position: sticky;
    top: -1px;
    height: 110px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #f4f4f4;
}

.nav-bar h1{
    font-size: 2rem;
}

.nav-bar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.resume-container {
    max-width: 768px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-top: 50px;
}

.section{
    margin-top: 1.5rem;
    margin-bottom: 30px;
}

.section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
}

.personal-info p, .education p {
    margin: 10px 0;
}

#skills-list {
    list-style: none;
    padding-left: 0;
}

#skills-list li {
    background-color: #e0e0e0;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
}

#toggle-skills {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.more-skills{
    display: none;
}

#toggle-skills:hover {
    background-color: #0056b3;
}

.experience-item{
    margin-top: 12px;
}

.experience-item p{
    margin-bottom: 12px;
    font-weight: 500;
}


.strong{
    font-weight: 900;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .resume-container{
        max-width: 640px;
    }
    .nav-bar {
        flex-direction: column;
        height: 210px;
    }
}

@media screen and (max-width: 642px) {
    .resume-container{
        max-width: 460px;
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    #toggle-skills {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .nav-bar p {
        font-size: 14px;
    }
    .resume-container{
        max-width: 360px;
    }
    .section h2{
        font-size: 1.5rem;
    }
    .personal-info p {
        font-size: 14px;
    }
    .section h2{
        font-size: 22px;
    }
    .nav-bar h1{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 420px) {
    .nav-bar {
        height: 180px;
    }
    .nav-bar h1{
        font-size: 1.6rem;
    }
    .nav-bar p {
        font-size: 12px;
    }

}
@media screen and (max-width: 380px) {
    .nav-bar {
        height: 180px;
    }
    .resume-container{
        max-width: 300px;
    }
    .nav-bar h1{
        font-size: 1.5rem;
    }
    .nav-bar p {
        font-size: 10px;
    }
}
